<br/>
<footer class="container-fluid">
    <div class="row footer">
        <div class="navbar navbar-default navbar-fixed-bottom" style="padding-top: 0px;">
            <p class="text-center text-muted">
                <br/>
                <i class="fa fa-copyright"></i>{{ site.time | date: '%Y'}}&nbsp;<a href="{{ site.baseurl }}/about">{{ site.author.nickname }}</a>
                &nbsp;&nbsp;
                <i class="fa fa-github"></i>&nbsp;<a href="https://github.com/piaoyidaodi" target="_blank">{{ site.author.github }}</a>
            </p>
        </div>
    </div>
</footer>