<div class="container-fluid">
    <div class="row">
        <div class="well well-info container-fluid">
            <img src="{{ site.baseurl }}/assets/img/profile.jpg" class=" img-responsive img-rounded" alt="Profile">
            <h4>可知不可违&nbsp;&nbsp;<span class="small"><i class="fa fa-map-marker"></i>&nbsp;上海</span></h4>
            <p>{{ site.author.introduction }}</p>
            <div class="col-sm-6">
                <div><i class="fa fa-wechat"></i>&nbsp;Drift_M4</div>
            </div>
            <div class="col-sm-6">
                <div><i class="fa fa-github"></i>&nbsp;piaoyidaodi</div>
            </div>
        </div>
    </div>
</div>