body {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

h1,h2,h3,h4,h5,h6{
    display: block;
}

.article-content p,ol,ul{
    font-size: 16px;
}

.article-content ol ul{
    padding-left: 15px;
}
.article-content ol ul li{
    font-size: 15px;
}

.article-info {
    font-size: 15px;
    margin: 10px 0px;
    /* padding-left: 5%; */
    font-style: italic;
}

.page-well hr{
    border-top:2px solid rgba(0, 102, 255, 0.404);
}

.blog-list-summary {
    margin-bottom: 10px;
}

.blog-list-summary .content p{
    font-size: 16px;
}

.blog-list-summary h5{
    float: right;
}

.container-header {
    /* padding-left: 5%;
    padding-right: 5%; */
    margin-left: auto;
    margin-right: auto;
}

.container-nav nav{
    padding-left: 10%;
    padding-right: 10%;
}

.menu {
    position: fixed;
    top:60px;
    max-height: 70%;
    right:0%;
}

.my-pagination {
    display: block;
    font-size:15px;
}

.well-sidebar{
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
}

.well-sidebar a{
    font-size: 15px;
}

.well-sidebar ul{
    margin-left: 25px;
}

.well-sidebar h1{
    font-size: 18px;
    color: red;
}

.well-info{
    text-align: center; 
}

.well-info h4{
    color: darkblue;
}

.well-info p{
    font-size: 18px;
    font-weight: bold;
}

.well-related-post{
    text-align: center;    
}

#nav-collapse ul li{
    padding-left: 3px;
    padding-right: 3px;
}

.post-menu {
    padding-left: 10px;
    padding-right: 2px;
    font-size: 18px;
    color: red;
    overflow-x: auto;
    overflow-y: scroll;
}

.post-menu a{
    font-size: 14px;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-color: lightblue;
}

#post-menu ul li{
    list-style: none;
    padding-left: 5px;
}

#post-menu ul{
    list-style: none;
    padding-left: 5px;
}