<!DOCTYPE html>
<html lang="zh-CN">
    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 hidden-xs container-fluid">
                    {% include siderbar-newest-post.html %}
                    {% include siderbar-related-post.html %}
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="article well">
                            <div class="article-title">
                                <h2 id="page-title">{{ page.title}}</h2>
                            </div>
                            <div class="article-info text-primary">
                                <time class="text-center text-success text-muted" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>                                    
                                <span>
                                    {% if page.categories.size!=0 %}
                                    &nbsp;|&nbsp;
                                    <span>
                                        <span class=" text-muted">分类:</span>
                                        {% for cat in page.categories %}
                                        <a href="{{ site.baseurl}}/categories#{{ cat }}">{{ cat }}&nbsp;</a>
                                        {% endfor %}
                                    </span>
                                    {% endif %}
                                </span>
                                <span>
                                    {% if page.tags.size!=0 %}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <span>
                                        <span class=" text-muted">标签:</span>
                                        {% for tag in page.tags %}
                                        <a href="{{ site.baseurl}}/tags#{{ tag }}">{{ tag }}&nbsp;</a>
                                        {% endfor %}
                                    </span>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="article-content">
                                {{ content }}
                            </div>
                        </div>
                        <div class="my-pagination">
                            {% if page.previous %}
                            <div class="col-xs-2">
                                <a href="{{ site.baseurl }}{{ page.previous.url }}"><i class="fa fa-long-arrow-left"></i><span class="hidden-sm hidden-xs">Pre</span></a>            
                            </div>
                            {% else %}
                            <div class="col-xs-2 text-center">
                                <span><i class="fa fa-long-arrow-left"></i><span class="hidden-sm hidden-xs">Pre</span></span>
                            </div>
                            {% endif %}
                        
                            <div class="col-xs-8 text-center">
                                    <a  href="{{ site.baseurl }}/archive">博文归档</a>
                            </div>
                        
                            {% if page.next %}
                            <div class="col-xs-2 text-center">
                                <a  href="{{ site.baseurl }}{{ page.next.url }}"><span class="hidden-sm hidden-xs">Next</span><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                            {% else %}
                            <div class="col-xs-2">
                                <span><span class="hidden-sm hidden-xs">Next</span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 hidden-xs container-fluid menu">
                    <div class="well post-menu">
                        <div id="post-menu"></div>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}
        <script src="{{ site.baseurl }}/assets/js/post-menu.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#post-menu').toc({title:'文章目录',minimumHeaders: 1,listType:'ul',showEffect: 'none'});
            });
        </script>
        <script type="text/javascript">
            window.onload = function(){
            //实现等比缩放大图片 
                var w = 800;//允许最大宽度 
                $("img").each(function(){ //如果有很多图片，我们可以使用each()遍历 
                    var img_w = $(this).width();//图片实际宽度 
                    var img_h = $(this).height();//图片实际高度 
                    if(img_w>w){//如果图片宽度超出设置的允许最大宽度
                        var height = (w*img_h)/img_w; //高度等比缩放 
                        $(this).css({"width":w,"height":height});//设置缩放后的宽度和高度 
                    } 
                });
                //图片响应式设计
                $("img").each(function(){
                    $(this).addClass("img-responsive");
                    $(this).css({"text-align": center});
                })
            }
            $(document).ready(function(){                   
            //为超链接加上target='_blank'属性
                $('a[href^="http"]').each(function(){
                    $(this).attr('target', '_blank');
                });
            }); 
            </script>
    </body>
</html>
